pipeline/PL_Audit_Logs.json
{
	"name": "PL_Audit_Logs",
	"properties": {
		"activities": [
			{
				"name": "copy_data_sql_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ONPRIMSQL_SRC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ONPRIMSQL_CSV_SNK",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored_procedure_Update_Success_Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[loadstatus1]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.dataRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.dataConsistencyVerification.VerificationResult",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.durationInQueue.integrationRuntimeQueue",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ONPRIMSQL_SRC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored_procedure_Update_Failure_Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_csv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[loadstatus1]",
					"storedProcedureParameters": {
						"dataread": {
							"value": "",
							"type": "String"
						},
						"errorid": {
							"value": "",
							"type": "String"
						},
						"errormessage": {
							"value": "",
							"type": "String"
						},
						"loadstatus": {
							"value": "",
							"type": "String"
						},
						"TableName": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ONPRIMSQL_SRC",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-11T07:35:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}