pipeline/PL_SelectedFiles_case.json
{
	"name": "PL_SelectedFiles_case",
	"properties": {
		"activities": [
			{
				"name": "Get_Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_src_selFile_Scase",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iteration_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Storing_Diff_Files",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "customers",
										"activities": [
											{
												"name": "Copy_Customers",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Copy_Srccase_Files",
														"type": "DatasetReference",
														"parameters": {
															"container": "case",
															"directory": "files"
														}
													}
												]
											}
										]
									},
									{
										"value": "drivers"
									},
									{
										"value": "trips"
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}