pipeline/PL_VALIDATION.json
{
	"name": "PL_VALIDATION",
	"properties": {
		"activities": [
			{
				"name": "File_Validate",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "gf",
						"value": "hg.csv"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Validation",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:20",
					"sleep": 10
				}
			},
			{
				"name": "Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "File_Validate",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[loadstatus1]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('File_Validate').output.exists",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('File_Validate').output.executionDuration",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('File_Validate').output.durationInQueue.integrationRuntimeQueue",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('File_Validate').output.billingReference.billableDuration[0].meterType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.tname",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ONPRIMSQL_SRC",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"tname": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-11T18:26:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}